.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 550px) {
  .search {
    width: 80% !important;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
  }
  .radio-buttons {
    height: unset !important;
  }

  .progress {
    display: none;
  }
  .map {
    width: 100% !important;
  }
  .side-bar {
    display: none;
    width: 0px !important;
  }
}

@media (max-width: 910px) {
  .radio-buttons {
    height: 30px;
    overflow: auto !important;
    white-space: nowrap !important;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  display: flex;
  flex-direction: row;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

.search {
  width: auto;
  height: 100px;
  top: 0;
  right: 0;
  z-index: 1000;
  margin: 15px;
}

.map {
  height: 100vh;
  width: 75%;
}
.radio-buttons {
  display: flex;
  font-size: 13px;
  white-space: nowrap;
  margin-top: 5px;
  border: 2px solid #465165;
  padding: 5px;
  border-radius: 30px;
  background-color: rgb(255, 241, 241);
  flex-wrap: wrap;
  justify-content: space-around;
}

.radio-inputs {
  margin: 0 5px;
  display: flex;
  text-align: center;
  min-width: 78px;
}

.button {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  margin: 15px;
  border-radius: 30px;
  font-size: 12px;
  cursor: pointer;
  pointer-events: auto;
}

body {
  font-family: cursive;
}

.css-13cymwt-control {
  background-color: lightgray;
}

.taken-point {
  color: red;
  font-weight: bold;
}

.team-progress {
  height: 20px;
  background-color: rgb(89, 197, 251);
  border-radius: 50px;
  text-align: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.progress-bar {
  padding: 5px;
  color: rgb(0, 0, 0);
  font-weight: 900;
  border-radius: 50px;

  display: table;
  border-collapse: separate;
  border-spacing: 5px;
}

.progress-container {
  height: 20px;
  width: auto;
  background-color: #e0e0de;
  border-radius: 50px;
  margin: 15px 5px;
}

.title {
  text-align: left;
  width: 100%;
  display: table;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  margin-top: 20px;
  margin-bottom: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgb(146, 145, 145);
  border-radius: 20px;
  padding: 20px 0;
}
.progress {
  width: auto;
  border: #465165 solid 2px;
  border-radius: 20px;
  margin: 0 15px;
  overflow-y: auto;
  height: 85%;
}

.side-bar {
  height: 100vh;
  width: 25%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.radio-input-label {
  margin: 3px;
}
